extends layout

block content
  h1= title
  
  if player_list.length
    ul
      each player in player_list
        li
          a(href=`/players/${player.human}`) #{player.name}
  else
    p There are no players.